snap/snapcraft.yaml linguist-language=bash
dogecoin-unofficial_1.14.6_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.0_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.2_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.3_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.4_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.5_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.7_amd64.snap filter=lfs diff=lfs merge=lfs -text
dogecoin-unofficial_1.14.8_amd64.snap filter=lfs diff=lfs merge=lfs -text
